// compileCompressed: ../src/css/stylesheet.css

@import "variables"; // $colorX
@import "header";
@import "banner";
@import "about";
@import "realisations";
@import "footer";
@import "contact";

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;

  h1 {
    color: $color3;
  }
}

.section-title {
  text-align: center;
}


