.header {
  height: 70px;
  width: 100%;
  background-color: #222831;
  line-height: 70px;
  padding: 0 30px;
  position: fixed;
  z-index: 1; }
  .header .header-logo {
    float: left;
    overflow: hidden; }
    .header .header-logo a {
      display: inline-block;
      max-height: 70px; }
      .header .header-logo a .header-logo-text {
        float: right;
        color: #eee;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 70px; }
      .header .header-logo a .logo-company-header {
        float: left;
        margin-top: 5px;
        margin-right: 7px;
        width: 60px;
        height: 60px; }
        .header .header-logo a .logo-company-header object {
          width: 60px;
          height: 60px;
          pointer-events: none; }
  .header .header-menu {
    float: right; }
    .header .header-menu a, .header .header-menu span {
      color: #eee;
      margin-right: 15px;
      text-decoration: none; }
      .header .header-menu a:hover, .header .header-menu span:hover {
        color: #00adb5; }

footer {
  background-color: rgba(0, 173, 181, 0.8);
  width: 100%;
  height: 30px; }
  footer .author {
    float: right;
    font-size: 1em;
    margin: 0; }
    footer .author a {
      color: #00adb5;
      margin-right: 10px; }
      footer .author a:hover {
        text-decoration: none; }

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif; }

section {
  padding-top: 50px;
  padding-bottom: 50px; }
  section h1 {
    color: #00adb5; }

.section-title {
  text-align: center; }

.banner {
  background: url("../../img/bg-img2.jpg") no-repeat;
  background-position: 50% 48%;
  background-size: cover;
  height: 100vh; }
  .banner .banner-content {
    color: #eee; }
    .banner .banner-content .inline-block-home {
      padding-top: 20vh;
      align-items: center;
      margin-left: 0;
      margin-right: 0; }
    .banner .banner-content .banner-text h1 {
      font-weight: medium;
      font-size: 3.0vw; }
    .banner .banner-content .banner-text h2 {
      font-size: 2.0vw;
      font-weight: 400; }
    .banner .banner-content .logo-company-banner object {
      width: 28vw; }
@keyframes arrow-animation {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-7px); }
  100% {
    transform: translateY(0); } }
    .banner .banner-content #arrow-down-icon {
      color: #00adb5;
      font-size: 50px;
      position: absolute;
      top: 85vh;
      z-index: 0;
      width: 100%;
      text-align: center;
      animation: arrow-animation 1s infinite; }
      .banner .banner-content #arrow-down-icon svg:hover {
        opacity: 0.5; }

.about {
  text-align: center; }

.realisations-container {
  background-color: #393e46;
  padding-left: 5vw;
  padding-right: 5vw; }
  .realisations-container .realisations-heading {
    text-align: center;
    color: #eee; }
  .realisations-container .gallery-pictures {
    padding-bottom: 25px; }
    .realisations-container .gallery-pictures h2 {
      color: #eee; }
    .realisations-container .gallery-pictures a {
      float: right;
      margin-top: 20px;
      color: #00adb5; }
    .realisations-container .gallery-pictures .pictures-container {
      text-align: center; }
      .realisations-container .gallery-pictures .pictures-container .picture-realisation {
        background-position: center;
        background-size: cover;
        height: 240px;
        width: 360px;
        margin: 10px auto;
        border-radius: 1px;
        box-shadow: 0 10px 6px -5px rgba(0, 0, 0, 0.3);
        cursor: pointer; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
  /* The Close Button */ }
  .modal img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    margin-bottom: 100px;
    animation: zoom-in 0.6s forwards; }
@keyframes zoom-in {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes zoom-out {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0);
    opacity: 0; } }
  .modal .button-close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s; }
    .modal .button-close-modal:hover, .modal .button-close-modal:focus {
      color: #00adb5;
      text-decoration: none;
      cursor: pointer; }

#contact textarea {
  border-radius: 0; }
#contact input {
  border-radius: 0; }
#contact .button-container {
  text-align: center; }
  #contact .button-container button {
    background: #00adb5;
    border-radius: 0;
    border-color: transparent; }
    #contact .button-container button:hover {
      border-width: 2;
      border-color: #007177;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 173, 181, 0.6); }
#contact .form-control:focus {
  border-color: #00adb5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 173, 181, 0.6); }

/*# sourceMappingURL=main.css.map */
