header {
  max-width: 100%; }
  header .header-logo {
    float: left; }
    header .header-logo img {
      max-width: 300px;
      margin-left: 15px; }
  header .header-menu {
    float: right; }
    header .header-menu li a {
      color: #eee;
      margin-right: 15px;
      text-decoration: none; }
      header .header-menu li a:hover {
        color: #00adb5; }

footer {
  background-color: rgba(0, 173, 181, 0.8);
  width: 100%;
  height: 30px; }
  footer .author {
    float: right;
    font-size: 1em;
    margin: 0; }
    footer .author a {
      color: #00adb5;
      margin-right: 10px; }
      footer .author a:hover {
        text-decoration: none; }

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif; }

section {
  padding-top: 50px;
  padding-bottom: 50px; }
  section h1 {
    color: #00adb5;
    margin-bottom: 30px; }

.section-title {
  text-align: center; }

.banner {
  background: url("../../img/bg-img2.jpg") no-repeat;
  background-position: 50% 48%;
  background-size: cover;
  height: 100vh;
  max-width: 100vw; }
  .banner .banner-content {
    color: #eee; }
    .banner .banner-content .inline-block-home {
      padding-top: 200px;
      align-items: center;
      margin-left: 0;
      margin-right: 0; }
    .banner .banner-content .banner-text h1 {
      font-weight: medium;
      font-size: 3.0vw; }
    .banner .banner-content .banner-text h2 {
      font-size: 2.0vw;
      font-weight: 400; }
    .banner .banner-content .logo-company-banner object {
      width: 28vw;
      min-width: 325px; }
@keyframes arrow-animation {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-7px); }
  100% {
    transform: translateY(0); } }
    .banner .banner-content #arrow-down-icon {
      color: #00adb5;
      font-size: 50px;
      position: absolute;
      top: 88vh;
      z-index: 0;
      width: 100%;
      text-align: center;
      animation: arrow-animation 1s infinite; }
      .banner .banner-content #arrow-down-icon svg:hover {
        opacity: 0.5; }

@media (max-width: 992px) {
  .banner .banner-content .inline-block-home {
    text-align: center;
    padding-top: 150px; }
  .banner .banner-content .banner-text {
    padding-top: 50px; }
    .banner .banner-content .banner-text h1 {
      font-size: 25px;
      font-weight: medium; }
    .banner .banner-content .banner-text h2 {
      font-size: 21px;
      font-weight: 400; } }
@media (max-width: 768px) {
  .banner .banner-content .inline-block-home {
    padding-top: 16vw; }
  .banner .banner-content .banner-text h1 {
    font-size: 25px;
    font-weight: medium; }
  .banner .banner-content .banner-text h2 {
    font-size: 21px;
    font-weight: 400; } }
@media (max-width: 540px) {
  .banner .banner-content .inline-block-home {
    padding-top: 26vw; }
  .banner .banner-content .banner-text h1 {
    font-size: 20px;
    font-weight: medium; }
  .banner .banner-content .banner-text h2 {
    font-size: 17px;
    font-weight: 400; } }
.about {
  text-align: center; }

.realisations-container {
  overflow: hidden;
  background-color: #393e46;
  padding-left: 4vw;
  padding-right: 4vw; }
  .realisations-container .realisations-heading {
    text-align: center;
    color: #eee; }
  .realisations-container .gallery-pictures {
    padding-bottom: 25px; }
    .realisations-container .gallery-pictures h2 {
      color: #eee; }
    .realisations-container .gallery-pictures a {
      float: right;
      margin-top: 20px;
      color: #00adb5; }
    .realisations-container .gallery-pictures .pictures-container {
      text-align: center; }
      .realisations-container .gallery-pictures .pictures-container .picture-realisation {
        height: 20vw;
        width: 30vw;
        min-height: 200px;
        min-width: 300px;
        max-height: 240px;
        max-width: 360px;
        background-position: center;
        background-size: cover;
        margin: 10px auto;
        border-radius: 1px;
        box-shadow: 0 10px 6px -5px rgba(0, 0, 0, 0.3);
        cursor: pointer; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
  /* The Close Button */ }
  .modal img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    margin-bottom: 100px;
    animation: zoom-in 0.6s forwards; }
@keyframes zoom-in {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes zoom-out {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0);
    opacity: 0; } }
  .modal .button-close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s; }
    .modal .button-close-modal:hover, .modal .button-close-modal:focus {
      color: #00adb5;
      text-decoration: none;
      cursor: pointer; }

#contact textarea {
  border-radius: 0; }
#contact input {
  border-radius: 0; }
#contact .button-container {
  text-align: center; }
  #contact .button-container button {
    background: #00adb5;
    border-radius: 0;
    border-color: transparent; }
    #contact .button-container button:hover {
      border-width: 2;
      border-color: #007177;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 173, 181, 0.6); }
#contact .form-control:focus {
  border-color: #00adb5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 173, 181, 0.6); }

/*# sourceMappingURL=main.css.map */
