// main: main.scss

.banner {
  background: url("../../img/bg-img2.jpg") no-repeat;
  background-position: 50% 48%; // x% y% centring (the best centering I found)
  background-size: cover;
  height: 100vh;

  .banner-content {
    color: $color4;

    .inline-block-home {
      padding-top: 20vh;
      align-items: center;
      margin-left: 0;   // Hack to avoid the problem of horizontal overflow
      margin-right: 0;  // Hack to avoid the problem of horizontal overflow
    }

    .banner-text {
      h1 {
      font-weight: medium;
      font-size: 3.0vw;
      }
      
      h2 {
        font-size: 2.0vw;
        font-weight: 400;
      }
    }

    .logo-company-banner {
      object {
        width: 28vw;
      }
    }

    @keyframes arrow-animation {
      0% { transform: translateY(0); }
      50% { transform: translateY(-7px); }
      100% { transform: translateY(0); }
    }

    #arrow-down-icon {
      color: $color3;
      font-size: 50px;
      position: absolute;  // absolute to be placed where I want
      top: 85vh;           // Arrow placed at the bottom of the page
      z-index: 0;
      width: 100%;
      text-align: center;
      animation: arrow-animation 1s infinite;
      
      svg:hover { 
        opacity: 0.5;
      }
    }
  }
}
