section {
  overflow: hidden; // without this an horizontal scrollbar appear at the minimum horizontal size (only)
  text-align: center;
  padding-top: $headerHeight + 50px;
  padding-left: 4vw;
  padding-right: 4vw;

  h1 {
      padding-bottom: 50px;
  }

  .pictures-container {
    text-align: center;
    
    .picture-realisation {
      height: 20vw;
      width: 30vw;
      min-height: 200px;
      min-width: 300px;
      max-height: 240px;
      max-width: 360px;

      background-position: center;
      background-size: cover;
      margin: 10px auto;
      border-radius: 1px;
      box-shadow: 0 10px 6px -5px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
  }
}