// main: main.scss

footer {
  background-color: $footer-color;
  width: 100%;
  height: 30px;

  .author {
    float: right;
    font-size: 1em;
    margin: 0;

    a {
      color: $color3;
      margin-right: 10px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
