// main: main.scss

header {
  max-width: 100%;

  .header-logo {
    float: left;

    img {
          max-width: 300px;
          margin-left: 15px;
        }
  }

  .header-menu {
    float: right;

    li {
      a {
        color: $color4;
        margin-right: 15px;
        text-decoration: none;

        &:hover {
          color: $color3;
        }
      }
    }
  }
}
