// main: ../mainPage/main.scss

$color1: #222831; // nice dark grey
$color2: #393e46; // nice lighter dark grey
$color3: #00adb5; // nice blue material-design like
$color4: #eee;    // light grey
$footer-color: rgba(0, 173, 181, 0.8); // light grey

$headerHeight: 70px;
